<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerAddWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerAddWpf.Properties.Settings>
            <setting name="ServerCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="configServer1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="activeFileName" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer1DB1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer1DB2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer1DB3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer1DB4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer1DB5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2DB1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2DB2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2DB3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2DB4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer2DB5" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3DB1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3DB2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3DB3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3DB4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="configServer3DB5" serializeAs="String">
                <value>-1</value>
            </setting>
        </ServerAddWpf.Properties.Settings>
    </userSettings>
</configuration>